.title {
  text-align: center;
  margin: 14px 0;
  font-size: 26px;
  font-weight: bolder;
  text-transform: capitalize;
}
ul {
  list-style: none;
  margin: 0;
  padding: 0;
  li {
    display: flex;
    padding: 4px 16px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd;
    & > * {
      text-align: center;
      width: 50%;
    }
  }
}
.no-item {
  margin-top: 12px;
  font-size: 26px;
  color: #ddd;
  font-weight: lighter;
  text-align: center;
}
